/* 
* Skeleton V1.0.3
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 7/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */
	
/* #Site Styles
================================================== */
body {
	margin-top:20px;
	background-image:url('/images/separator.png');
	background-repeat: repeat-x;
	background-position: center top;
	}
.header {
	padding-top:5px;
	margin-bottom:0px;
	background-color:#fff;
	}
.menu {
	text-align:right;
	}
.nav {
	height:30px;
	background-color:#f8f8f8;
	background-image:url('/images/separator.png');
	background-repeat: repeat;
	margin-bottom:20px;
	line-height:30px;
	text-transform:none;
	font-weight:normal;
  font-family:georgia;
  font-size:18px;
}
.nav a { padding-left:2px;padding-right:10px;text-decoration:none;}
sidebar {
	margin-top:170px;
}
.feature, .subject {
	padding:20px;
	margin-bottom:20px;
}
.feature {
	background-color: #F0EFD1;
	}
.subject, .subject h5, .subject h3 {
	background-color: #21180D;
	color: #F0EFD1;
}
.subject h1 {
	color:#CFBA58;
	text-shadow: 0px 2px black;
}
.subject h5 {
	color:#CFBA58!important;
}
.subject a, .subject a:visited, .subject a:hover {
	color:#cfba58!important;
}
.feature p, .subject p {
  font-family:"open sans",georgia,serif;
	font-size:19px;
	line-height:26px;
	}
.readinglist h6 {
	margin-bottom:20px;
	}
.readinglist h3 {
  color:#000;
  text-shadow: 1px 1px #ccc;
}
.readinglist h6 a:link {
	font-style:italic;
	}
.readinglist p {
	margin:0 0 5px 0;
	}
.post {
	margin-bottom:20px;
	}
.extendedlist h6 {
	color:#21180D;
	}
.negative {
	background-color:#21180D;
	color:#F0EFD1;
	padding:2px 3px;
}
.negative a:hover {
	background-color:#f60;
	color:#fff!important;
}
.single {
	margin-top:40px;
  margin-bottom:20px;

  padding-bottom:20px;
}
.single .byline {
	margin-bottom:40px;
  text-align:center;
}
.single h1 {
  text-align:center;
}
.content {
  margin-top:80px;
}
.box {
	background:#f6f6f6 url('/images/separator.png') repeat;
	padding:20px;
	margin-bottom:40px;
}
.extra {
    padding-top:20px;
    border-top:3px double #ddd;
}
.wherenext {
  text-align:center;
}
.wherenext h5 {
  font-family:"prata",georgia,serif;
  text-align:center;
  margin-top:40px;
  margin-bottom:40px;
  letter-spacing:4px;
  text-transform:uppercase;
}
#navlist li
{
display: inline;
list-style-type: none;
padding-right: 20px;
}
.item {
  width: 210px;
  margin:5px;
  float:left;
}
.item h5 {
  font-family:"prata",georgia,serif;
  font-size:14px;
  font-weight:bold;
  text-align:center;
  margin-top:20px;
  letter-spacing:2px;
  text-transform:uppercase;
}
.item h6 {
  text-align:center;
  margin-bottom:20px;
}
.largeform input[type="text"] {
  display:inline;
  width:440px;
}
.largeform input[type="submit"] {
  font-size:14px;
  line-height:20px;
}
.alert {background-color:#E42217;}
.notice {background-color:#98AFC7;color:#000;padding-top:5px;padding-bottom:5px;} /* greenish #4CC417 yellowish #ECD672 */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */
	
	/* iPad Portrait/Browser */
	@media only screen and (min-width: 768px) and (max-width: 991px) {}
	
	/* Mobile/Browser */
	@media only screen and (max-width: 767px) {}
	
	/* Mobile Landscape/Browser */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}
	
	/* Anything smaller than standard 960 */
	@media only screen and (max-width: 959px) {}
	
	/* iPad Portrait Only */
	@media only screen and (min-width: 768px) and (max-width: 991px) and (max-device-width: 1000px) {}
	
	/* Mobile Only */
	@media only screen and (max-width: 767px) and (max-device-width: 1000px) {}
	
	/* Mobile Landscape Only */
	@media only screen and (min-width: 480px) and (max-width: 767px) and (max-device-width: 1000px) {}
	

/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file 
		Just create a "fonts" folder at the root, 
		copy your FontName into code below and remove
		comment brackets */
		
/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
