<h1>SubmittedItems#new</h1>
<p>Find me in app/views/submitted_items/new.html.erb</p>


<%= form_for(@item) do |f| %>

<div class="field">
  <%= f.label :url %><br />
  <%= f.text_field :url %>
</div>

 <%= f.submit %>

<% end %>


