
<div class="sixteen columns">

<h1>Env&iacute;a una cosa para leer</h1>

<p>Si encontraste un texto emocionante para leer, pasala voz.<br />Pega la direcci&oacute;n en el formulario de abajo.</p>



<%= form_for(@item) do |f| %>

<div class="field largeform">
  <%= f.label :url, "Esta es la direcci&oacute;n" %><br />
  <%= f.text_field :url, :size => 250 %> <%= f.submit "Enviar" %>
</div>

<% end %>


<p></p>

</div>